<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.rcp.scrabble.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.rcp.scrabble.Perspective"
            id="com.rcp.Scrabble.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.rcp.scrabble.View"
            id="com.rcp.Scrabble.view">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rcp.Scrabble.application"
            name="Scrabble">
         <property
               name="appName"
               value="Scrabble">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rcp.Scrabble.application"
            name="Deploy">
      </product>
   </extension>
   <extension
         id="product2"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rcp.Scrabble.application"
            name="Scrabble">
         <property
               name="appName"
               value="Scrabble">
         </property>
      </product>
   </extension>
   <extension
         id="product100"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rcp.Scrabble.application"
            name="Scrabble">
         <property
               name="appName"
               value="Scrabble">
         </property>
      </product>
   </extension>

</plugin>
